<div class="questionnaire-component" *ngIf="questionnaireData.item && questionnaireData.item.length>0">
	<div *ngFor="let item of questionnaireData.item">
		<div *ngIf="item.type === 'group'">
			<div *ngFor="let groupItem of item.item">
				<div class="form-item">
					<label>{{groupItem.text}}</label>
					<input [(ngModel)]="groupItem.value" [type]="groupItem.type === 'boolean' ? 'checkbox' : groupItem.type" name="">
				</div>
			</div>
		</div>
		<div class="form-item" *ngIf="item.type !== 'group'">
			<label>{{item.text}}</label>
			<input [(ngModel)]="item.value" [type]="item.type === 'boolean' ? 'checkbox' : item.type" name="">
		</div>
	</div>
	<div class="button-container">
		<button (click)="saveForm()">Save</button>
	</div>
</div>
